/* nada */
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
   
}

.http-only-site .page {
   
}

.http-only-site .body {
    
}

.header {
    flex: 0 0 auto;
    border-bottom: 1px gray solid;
    background-color: silver;
    /* height: 50px; */
}

.header  table {
    width: 100%;
    height: 100%;
}

.header  td {
    padding: 16px;
}

.header a + a {
    padding-left: 8px;
}


.footer {
    flex: 0 0 auto;
    padding: 16px;
    border-top: 1px gray solid;
    background-color: silver;
}


.footer .footer-links {
    text-align: right;
}

.footer .footer-links a +  a {
    margin-left: 16px;
}

/* layout table */

table.layout-table {
    width: 100%;
}

/* and the main page layout */

table.layout-table td.menu-area {
    width: 16%;
    vertical-align: top;
}

table.layout-table td.content-area {
    width: 62%;
    vertical-align: top;
}

/* sidebar */

table.layout-table td.side-bar {
    width: 22%;
    /* background-color: aqua; */
    vertical-align: top;
}


table.layout-table td.side-bar-section-header {
    margin: 10px;
    font-weight: bold;
}

/* content area containers */

.page {
    margin: 16px;
}


/* */

table.layout-table td.home-menu-area {
    width: 16%;
    vertical-align: top;;
}


table.layout-table td.home-content-column1 {
    width: 27%;
    vertical-align: top;
    padding-right: 16px;
}

table.layout-table td.home-content-column2 {
    width: 27%;
    vertical-align: top;

    padding-right: 16px;
}




/* home menu */

/* ul.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position: inside; 
}

ul.menu-list li {
    padding: 20px;
    font-size: 200%;
    width: 100%;
}

ul.menu-list li a {
    padding: 20px;
    display: block;
}

ul.menu-list li a:hover {
    background-color: silver;
}

ul.menu-list li.selected a {
    background-color: gray;
    color: white;
} */

.main-menu {
    margin: 0;
    padding: 0;
}

.main-menu > .item {
    padding: 20px;
    font-size: 200%;
    width: 100%;
}

.main-menu > .item > a {
    padding: 20px;
    display: block;
}

.main-menu > .item > a:hover {
    background-color: silver;
}

.main-menu > .item.selected > a {
    background-color: gray;
    color: white;

}


/* sidebar */



/* sidebar menu */


.side-bar .section {
    border: 2px dashed silver;
    padding: 8px;
    margin: 16px;
}

.side-bar .section > .title {
    font-weight: bold;
    color: gray;
    text-align: center;
}

.side-bar .section > .body {
   
}

.side-bar-menu-list {
    margin: 0;
    padding: 0;
}

.side-bar-menu-list .item + .item {
    margin-top: 16px;
}

.side-bar-menu-list .item a {
    padding: 10px;
}

.side-bar-menu-list .item a:hover {
    background-color: silver;
}

/* general page */

/* an alert */

.alert {
    /* margin: 16px; */
    padding: 16px;
}


.alert.primary {
    border: 2px solid rgb(17, 37, 150);
}

.alert.info {
    border: 2px solid rgb(99, 99, 99);
}

.alert.warning {
    border: 2px solid rgb(229, 170, 42);
}

.alert.error {
    border: 2px solid red;
}

/* article */

.content-area .article {
    margin: 16px;
}

.content-area .article-title {
    font-weight: bold;
    font-size: 120%;
}

.content-area .article-created {
    font-style: italic;
    color: gray;
}

.content-area .article-content {

}

/* sidebar article menu */

ul.side-bar-article-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-bar-article-list > .item {
    padding: 8px;
}

.side-bar-article-list > .item > .article-title {
    font-weight: bold;
}

.side-bar-article-list > .item > .article-created {
    font-style: italic;
    color: gray;
}


/* ul.side-bar-article-list li a {
    padding: 10px;
} */

/* ul.side-bar-article-list li a:hover {
    background-color: silver;
} */


/* blog */

.content-area .blog {
    margin: 16px;
}

.content-area .blog-title {
    font-weight: bold;
    font-size: 120%;
}

.content-area .blog-created {
    font-style: italic;
    color: gray;
}

.content-area .blog-content {

}

/* sidebar blog menu */

ul.side-bar-blog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.side-bar-blog-list li {
    padding: 10px;
}

.side-bar-blog-list .blog-title {
    font-weight: bold;
}

.side-bar-blog-list .blog-created {
    font-style: italic;
    color: gray;
}

/* editor */

.content-edit-layout {
    width: 100%;
    margin: 16px;
}

table.content-edit-layout-table {
    width: 100%;
    /* margin: 16px; */
}

table.content-edit-layout-table td {
    padding: 4px;
}

/* table.content-edit-layout-table td:nth-child(1) {
    width: 50px;
} */

table.content-edit-layout-table input {
    width: 100%;
}

table.content-edit-layout-table textarea {
    width: 100%;
    margin: 0;
}

/* Try to make some basic built-in components nicer */

/* nice buttons */

button {
    font-size: 16px;
    padding: 8px;
    background-color: rgb(230, 230, 230);
}

button:active {
    background-color: green;
}

/* styles only for secure/modern browsers */

.grid {
    display: flex;
    flex-direction: column;
}

.grid .row {
    display: flex; 
    flex-direction: row;
}

.grid.gutter .row + .row {
    margin-top: 16px;
}

.grid .row > .col {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

/* Home page */

.preview-box {
    border: 1px solid silver;
    width: 100%;
}

.preview-box > .title {
    border-bottom: 1px dashed silver;
    font-weight: bold;
    color: gray;
    padding: 8px;
}

.preview-box > .content {
    padding: 8px;
}

.preview-box .item > .title {
    font-weight: bold;
    color: gray;
}

.preview-box .item > .created {
    font-weight: gray;
    font-style: italic;
}

.preview-box .item > .content {
    /* min-height: 100px; */
    max-height: 200px;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.preview-box .item + .item {
    margin-top: 16px;
}

/* links */

.site-title {
    font-weight: bold;
    color: gray;
}
.site-url {
    font-family: monospace;
}
.site-added {
    font-style: italic;
}


.site-list-item {
    margin-bottom: 32px;
}

.site-list-header {
    border: 1px dashed gray;
    padding: 8px;
    margin-bottom: 16px;
}

/* misc */

.margin-top {
    margin-top: 16px;
}