<div class="footer">
  <!-- because, for some reason, bootstrap columns are not flexboxes -->
  <table width="100%">
    <tr>
      <td width="50%" class="footer-copyright">
        <small>Copyright © 2024 Adaptations</small>
      </td>
      <td width="50%" class="footer-links">
        <% if false %>
        <a href="/edit/<%= @context[:content]['id'] %>" >
          edit this <%= @context[:content]['content_type'] %>
        </a>
      <% end %>
      <a  href="/page/contact">
        contact
      </a>
      <a  href="/page/accessibility">
        accessibility          
      </a>
     
      </td>
    </tr>
  </table>
</div>