<div class="header">
  <table class="layout-table">
    <tr>
      <td class="logo-column">
        <b><%= @context[:page]["title"] %></b> | <span class="logo-text">HTTP only</span>
      </td>
      <td class="nav-column">
      </td>
    </tr>
  </table>
</div>