<div class="header">
  <table>
    <tr>
      <td style="width: 50%; vertical-align: middle;">
        <span style="font-weight: bold; color: gray;">HTTP only</span> | <b><%= @context[:page]["title"] %></b>
      </td>
      <td style="width: 100%; text-align: right;">
       
      </td>
    </tr>
  </table>
</div>